html * {
	/*  -webkit-font-smoothing: antialiased;*/
	font-family: STHeiti, Î¢ÈíÑÅºÚ, Arial, "Times New Roman", "Hiragino Sans GB",
		"Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;	
}
ul li {
    list-style: none;
}
a, a:visited, a:hover {
	text-decoration: none;
}
div[class $="listDiv"]{
	padding-left:20px;
}
div[class $="Nav"]{
	padding-right:20px;
}
.footer {
	background-color: #3c3c3c;
	color: #ffffff;
	height: 110px;
	padding:10px 20px;
	bottom: 0;
    position: fixed;
    width: 100%;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: inherit;
    color:#fff;
}
.footer-links .nav-pills>li>a {
    color: #fff;
    padding: 10px 24px;
    font-size:16px;
}
.footer-text{
	padding:10px;
	font-size:16px;
}
.login_header>.container>div {
    display: inline-block;
    vertical-align: top;
}
.login_sub {
    width: 240px;
    border-right: 1px #e3e3e3 solid;
    margin-top: 18px;
    margin-bottom: 18px;
}
.login_header>.container>div>h3 {
    margin-left: 50px;
    margin-top: 32px;
    color: #333333;
}
.blue-title {
    color: #fff !important;
    background: #4185bf !important;
    padding: 6px 15px;
    font-size:16px;
}
.commonSearch {
    height: 32px;
    padding: 0 15px;
    border: 1px solid #79abd6;
    border-radius: 15px;
    margin-bottom: 10px;
}
.commonTable tr:first-child th{
	color: #fff;
    background: #4185bf;
    text-align:center;
}
.commonTable  tr td{
	padding:2px !important;
	text-align :center;
}
.commonTable  tr td,.commonTable  tr th{
border: 1px solid #c5c3c3;
}
.commonSmbtn{
	 padding: 4px 8px;
}
.commonSmbtn >i,.commonSmbtn >span{
	font-size:16px;
}
.rightMargin>div {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}
.rightMargin{
	margin-right:12%;
}
.titleContent{
	font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    color: #2882d0;
}
.commonSearch>a,.groupInput>a{
	display: inline-block;
    width: 18px;
    height: 19px;
    margin: 6px 8px 0;
    transition-timing-function: ease-in;
    transition-duration: .4s;
    transition-property: background-color;
    background: url(../../static/img/page_head_ico.png) 0 -20px no-repeat;
}
.commonSearch>a:hover,.groupInput>a:hover{
	background: url(../../static/img/page_head_ico.png) no-repeat;
}
.commonSearch input[type="text"],.commonSearch input[type="text"]:focus,.groupInput input[type="text"],.groupInput input[type="text"]:focus{
    font-size: 14px;
    line-height: 29px;
    float: left;    
    height: 29px;
    margin-top: 1px;
    color: #6b7a99;
    outline: none;
    border: 1px solid transparent;
    background: transparent;
    border:none;
}
.nav-tabs-list {
  border-bottom: 2px solid #DDD;
  padding-top: 20px;
}

.nav-tabs-list > li > a {
  border: none;
  color: #666;
  font-size:15px;
}
.nav-tabs-list > li.active > a,
.nav-tabs-list > li.active > a:focus,
.nav-tabs-list > li.active > a:hover {
  border-width: 0;
}
.nav-tabs-list > li.active > a,
.nav-tabs-list> li > a:hover {
  border: none;
  color: #4285F4 !important;
  background: transparent;
}
.nav-tabs-list > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  -moz-transition: all 250ms ease 0s;
  -ms-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.nav-tabs-list> li.active > a::after,
.nav-tabs-list > li:hover > a::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.unline{
	border:none !important;
}
.closeColor{
	color : #fff !important;
	opacity: .5
}
.closeColor:hover,.closeColor:focus{
	opacity: .9!important;
}
.nav-tabs-list > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
@media screen and (max-width: 1366px){
.footer-text,.footer-links .nav-pills>li>a{
	font-size:14px;
}	
}

